# Зависимости
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Переменные окружения
.env

# Директории для загрузок и заполненных форм
uploads/
filled_forms/

# Логи
logs
*.log

# Файлы операционной системы
.DS_Store
Thumbs.db

# Директории IDE
.idea/
.vscode/
*.swp
*.swo 